*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.list{
	width: 960px;
	padding: 50px 0;
	margin: 0 auto;
}
.top{
	margin-bottom: 50px;
}
.top1{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.top1:nth-child(odd){
	background-color: #CCCCCC
}
.main-box{
	width: 30%;
	height: 200px;
	margin: 0 5% 40px 0;
	background-color: yellow;
	float: left;
}
.main-box:nth-child(1){
	background-color: orange;
}
.main-box:nth-child(5){
	background-color: orange;
}
.main-box:nth-child(9){
	background-color: orange;
	margin-right: 0;
}
.main-box:nth-child(3){
	margin-right:0;
}
.main-box:nth-child(6){
	margin-right:0;
}